header
  section
    .dreamshare
      .dreamshare__header
        .dreamshare__header__logo
          h1 DREAMSHARE
        .dreamshare__header__nav
          a.dreamshare__header__nav__log(href='')
            | Log
            | in
          button.dreamshare__header__nav__button(type='button')
            span
              | Sign
              | up
      .dreamshare__bigtop
        span
          | SHARE YOUR
      .dreamshare__bigbottom
        span HOLIDAY DREAM
      .dreamshare__text
        span
          | And find the perfect
          | partner to fullfill it
      button.dreamshare__link
        span
          | Find your holiday
          | partner