@font-face {
    font-family:'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: normal;
}
@font-face {
    font-family:'Roboto';
    src: url('./fonts/Roboto/Kanit-Medium.ttf');
    
}